html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
}
.container {
  max-width: 300px;
  margin: 0 auto;
}
.body__svg {
  position: relative;
  margin-bottom: 30px;
}
.chart-text {
  font-size: 16px/1.4em;
  fill: #000;
  transform: translateY(0.25em);
}
.chart-number-1,
.chart-small-number,
.chart-procent,
.chart-loyal,
.chart-avg,
.chart-fmcg,
.chart-med-1,
.chart-med-2,
.chart-number-2 {
  line-height: 1;
  text-anchor: middle;
}
.chart-number-1 {
  font-size: 0.4em;

  transform: translateY(-1.4em) translateX(-0.2em);
}
.chart-small-number {
  font-size: 0.2em;
  transform: translateY(-2.8em) translateX(1.1em);
}
.chart-number-1,
.chart-small-number,
.chart-loyal {
  fill: #606060;
}
.chart-procent {
  font-size: 0.15em;
  transform: translateY(-4.8em) translateX(1.7em);
  fill: #c0c0c0;
}
.chart-loyal {
  font-size: 0.2em;
  transform: translateY(-1.4em);
  font-weight: 700;
}
.chart-avg {
  font-size: 0.14em;
  transform: translateY(-0.5em);
  font-weight: 700;
  fill: #ffd700;
}
.chart-fmcg,
.chart-med-1,
.chart-med-2 {
  font-size: 0.095em;
  fill: #c0c0c0;
}
.chart-fmcg {
  transform: translateY(0.7em);
}
.chart-med-1 {
  transform: translateY(1.9em);
}
.chart-med-2 {
  transform: translateY(3.1em);
}
.chart-number-2 {
  font-size: 0.15em;
  fill: #008000;
  transform: translateY(3.4em) translateX(0.5em);
}
.flag-svg {
  position: absolute;
  top: 5px;
  left: 125px;
}
.triangle-svg {
  position: absolute;
  bottom: 57px;
  left: 115px;
}
.body__inner {
  font-size: 0.8em;
  color: #505050;
  font-weight: 600;
}
.body__promo,
.body__scept,
.body__crit {
  display: flex;
  justify-content: space-between;
}
.body__promo-right,
.body__scept-right,
.body__crit-right {
  display: flex;
}
.body__promo-right-text,
.body__scept-right-text,
.body__crit-right-text {
  font-size: 0.75rem;
}
.body__promo-right-text span,
.body__scept-right-text span,
.body__crit-right-text span {
  display: block;
  margin-top: 10px;
  text-align: right;
  padding-right: 15px;
  position: relative;
  color: #a9a9a9;
}
.body__promo-right-text span::before,
.body__scept-right-text span::before,
.body__crit-right-text span::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  background-image: url("../images/human_full.svg");
}
.body__promo,
.body__scept {
  margin-bottom: 15px;
}
.body__promo-right-rect,
.body__scept-right-rect,
.body__crit-right-rect {
  width: 90px;
  height: 35px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: inline-block;
  background-color: #f5f5f5;
  text-align: right;
  padding: 13px 5px 0 0;
  margin-left: 10px;
  color: #606060;
  font-weight: 400;
  position: relative;
}
.body__promo-right-rect::before,
.body__scept-right-rect::before,
.body__crit-right-rect::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
}
.body__promo-right-rect::after,
.body__scept-right-rect::after,
.body__crit-right-rect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
}
.body__promo-right-rect::before {
  width: 30px;
  height: 26px;
  background-color: #008000;
}
.body__promo-right-rect::after {
  background-color: #008000;
  width: 27px;
  height: 7px;
  opacity: 0.6;
}
.body__scept-right-rect::before {
  width: 30px;
  height: 26px;
  background-color: #ffd700;
}
.body__scept-right-rect::after {
  background-color: #ffd700;
  width: 25px;
  height: 7px;
  opacity: 0.6;
}
.body__crit-right-rect::before {
  width: 25px;
  height: 26px;
  background-color: #ff0000;
}
.body__crit-right-rect::after {
  background-color: #ff0000;
  width: 30px;
  height: 7px;
  opacity: 0.6;
}
.triangle-svg {
  animation: shakeY;
  animation-duration: 3s;
}

@keyframes shakeY {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}
